{% extends 'base.html' %}
{% load static %}

{% block title %}파일 업로드{% endblock %}
{% block link %}{% static 'css/manager.css' %}{% endblock %}

{% block content %}
<div class="background">
<form class="upload_form" method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="form">
    <table class="scroll">
    {% for manager in managers %}
    <td>
    <input class="option-input checkbox" type="checkbox" name="username[]" value={{manager.username}}>{{manager.username}}
    <input type="hidden" name="password[]" value={{manager.password}}>
    </td>
    {% endfor %}
    </table>
</div>
    <input type="submit" value="승인">
</form>
</div>
{% endblock %}