<form method="POST" action="select_file">
    {% csrf_token %}
    {% for files in not_upload_files %}
    <input type="checkbox" name="file[]" value={{files.title}}>{{files.title}}
    <br/>
    {% endfor %}
    <input type="submit" value="upload">
    <input type="submit" value="delete">
</form>
<br>
<form method="POST" action="select_file">
    {% csrf_token %}
    {% for files in upload_files %}
    <input type="checkbox" name="file[]" value={{files.title}}>{{files.title}}
    <br/>
    {% endfor %}
    <input type="submit" value="delete">
</form>
