@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.scroll{
  text-align: left;
    margin: 0 auto;
    width: 1000px;
}

.scroll1{
  text-align: left;
  margin: 0 auto;
  width: 1000px;
  
}

td{
  border: 2px solid #999999;
  display: block;
}

.upload_form, .upload_form1{
    text-align: center;
    margin-top: 20px;
}

#submit{
    width: 445px;
}
  input[type=submit]{
    font-family: 'GmarketSansMedium';
      width: 265px;
    padding: 10px;
    margin-top: 20px;
    border-radius: .2em;
    border: 2px solid #95C51B;
    background-color: #95C51B;
    color: white;
    transition: 0.5s;
    font-size: 15px;
  }

  input[type=submit]:hover{
      background-color: #aee71f;
      border: 2px solid #aee71f;
  }


  .form1{
      background-color: white;
      padding: 100px;
      border-radius: 20px;
  }

  /* @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  } */
  
  /* .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: -55px;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: -2.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #007680;
  }
  .option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 30px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #007680;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  } */

  label{
    font-family: 'GmarketSansMedium';
      padding-left: 2px;
      text-align: center;
  }
