@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,*:before,*:after {
    box-sizing: border-box;
  }

html{
    width: 100%;
    height: 100%;
    background-color: #007680;
    font-family: 'GmarketSansMedium';
}

body{
    width: 100%;
    height: 100%;
    text-align: center;
}

form{
    margin-bottom: 10px;
}

.seats{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-column-gap: 2px;
    justify-content: center;
    margin-bottom: 10px;
}

  
.seat {
    display: flex;
    flex: 0 0 14.28571428571429%;
    padding: 1px;
    position: relative;  
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

input[type=checkbox]:checked {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

input[type=checkbox]:checked+label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

input:disabled {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
}

input:disabled +label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;

}

input:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
}

label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 3rem;
    padding: 2px 0;
    background: #ffffff;
    border: 0.5px solid rgb(145, 145, 145);
    animation-duration: 300ms;
    animation-fill-mode: both;



}

label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #007680;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

p{
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

button, input[type="submit"] {
    font-family: 'GmarketSansMedium';
    margin-top: 5px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    /* Green */
    border-radius: 10px;
}

button{
    height: 20px;
    width: 55px;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
}

button:hover, input[type="submit"]:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.form{
    display: inline-block;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}