@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: violet;
}
html{    background:url(../images/img2.jpg) no-repeat;
    background-size: cover;
    height:100%;
    /* filter: blur(10px);
    -webkit-filter: blur(10px); */
  }
  
/* body {
    background: #a2df81; 
  }  */

.box1 {
    width: 100%;
    padding-top: 80px;
}

.form {
    padding: 45px;
}


.box1 img{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.box2{
    float: right;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 680px;
    width: 596px;
}

.box2 img{
    width: 118%;
}

.password{
    float: left;
    margin: 0px;
    padding-bottom: 5px;
    color: #007680;
    font-family: 'GmarketSansMedium';
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
  width: 503px;
  padding: 3% 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.24);
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 30px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 95%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000000;
  font-family: 'GmarketSansMedium';
}

#btn[type="submit"]:disabled{
    background: #bbbbbb;
}

h4{
    color: red;
}

.success{
    color: blue;
}

#username {
    width: 63.5%;
}
#btn1, #btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #A6CE39;
  width: 95%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-family: 'GmarketSansMedium';
}

#btn1 {
    width: 30%;
}

#btn:hover,.form button:active,.form button:focus {
  background: #7fa31b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 13px;
  font-family: 'GmarketSansMedium';
}
.form .message a {
  color: #A6CE39;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
